body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }

    .header {
        display: none;
    }

    #karate {
        display:none;
    }

    #unity-game{
        display:none;
    }
    
}

.header {
    padding: 15px 15px;
    overflow: hidden;
    z-index:10;
}
  
.header a {
    float: left;
    color: white;
    text-align: center;
    /* padding: 12px; */
    padding-right: 22px;
    padding-left: 22px;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 4px;
    opacity: 60%;
}

  
.header a:hover {
    color: white;
    /* padding-top: 20px; */
    opacity: 100%;
} 
  
.header a.active {
    background-color: dodgerblue;
    color: white;
}
  
.header-right {
    float: right;
}

#conranpearce {

    font-family: sans-serif;
    font-size: 30px;
    font-size: 3.5vw;
    /* text-align: center;
    color: white;
    height: 100px;
    line-height: 100px;
    text-align: center; */

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.fab {
    /* padding: 20px; */
    /* padding-top: 200px; */
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    -ms-transform:translate(-50%, 0%);
    transform:translate(-50%, 0%);
}
  
.fab:hover {
    opacity: 1;   
}
  
.fa-linkedin {
    /* color: #2867B2; */
    color: white;
    opacity: 60%;
    text-decoration: none;
}
  
.fa-github {
    /* color: #ff6600; */
    color: white;
    opacity: 60%;
    text-decoration: none;
}

#karate {
    padding:10px;
    float: right;
    width:50%;
    height: auto;
}

#unity-game {
    padding:10px;
    float: right;
    width:50%;
    height: auto;
}

.links {
    /* margin: auto; */
    text-align: center;
}

.cv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50;
    opacity: 30%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cv:hover{
    opacity: 100%;
}

#cv-img {
    width:auto;
    height:13%;
}

#link-button{
    padding-top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    opacity: 40%;
    -ms-transform:translate(-50%, 0%);
    transform:translate(-50%, 0%);

    width:auto;
    height:10%;
}

#link-button:hover{
    opacity: 100%;
}

#play-button{
    padding-top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50;
    opacity: 40%;
}

#play {
    /* padding-top: 10px; */
    width:auto;
    height:10%;
}

#play-button:hover{
    opacity: 100%;
}

#instagram-button{
    padding-top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50;
    opacity: 40%;
}

#instagram-button:hover{
    opacity: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

li a {
    display: block;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    border-radius: 4px;
    background:white;
}
  
li a:hover {
    background:white;
}

.panels {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    padding-left:30px;
    padding-right:30px;
}

#about-me-div {
    /* padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    padding-left:30px;
    padding-right:30px; */
    background:#ececec;

}

#projects-div {
    /* padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    padding-left:30px;
    padding-right:30px; */
}

#martial-arts-div {
    /* padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    padding-left:30px;
    padding-right:30px; */
    background:#ececec;

}

#contact-div {
    /* font-size: 18px;
    padding-left:30px;
    padding-right:30px;
    padding-top: 20px;
    padding-bottom: 20px; */
}

#front-div {
    padding-left:30px;
    padding-right:30px;
    height:100%;
    background-image: url("images/__3_01203.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

h1 {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;  
}

#martialArtsTitle {
    padding-top: 30px;
}